In [ ]:
Question 1:
Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.

In [1]:
age = 25
print("Age:", age)
print("Type of Age:",type(age))

Age: 25
Type of Age: <class 'int'>

In [ ]:
Question 2:
Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?

In [6]:
price = 12.5
print("Price:", price)
print("Type of price:", type(price))

price = 12
print("New price:", price)
print("Type of price now:", type(price))

Price: 12.5
Type of price: <class 'float'>
New price: 12
Type of price now: <class 'int'>

In [ ]:
Question 3:
Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type.

In [8]:
is_raining = True
print("Is it raining?", is_raining)
print("Type of is_raining:", type(is_raining))
is_raining = False
print("Is it raining now?", is_raining)
print("New type of is_raining:",type(is_raining))

Is it raining? True
Type of is_raining: <class 'bool'>
Is it raining now? False
New type of is_raining: <class 'bool'>

In [ ]:
Question 4:
Create a variable my_name and store your full name in it as a string. Then
print the value of my_name using single quotes ' .

In [9]:
my_name = 'akshay thombre'
print("My name is:",my_name)

My name is: akshay thombre

In [ ]:
Question 5:
Write a Python program that asks the user for their name and age using the
input() function. Store the inputs in variables and print a sentence like
"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
integer.

In [10]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello, {name}! You are {age} years old.")

Enter your name:  Pratik
Enter your age:  24

Hello, Pratik! You are 24 years old.

In [ ]:
Question 6:
Create two variables x and y and assign them the values 10 and 3.5 ,
respectively. Print their values and types. Then, create a new variable
sum_xy and store the sum of x and y . Print the result and its type.

In [11]:
x = 10
y = 3.5
print("x:", x, "Type of x:", type(x))
print("y:", y, "Type of y:", type(y))
sum_xy = x + y
print("Sum of x and y:", sum_xy)
print("Type of sum_xy:", type(sum_xy))

x: 10 Type of x: <class 'int'>
y: 3.5 Type of y: <class 'float'>
Sum of x and y: 13.5
Type of sum_xy: <class 'float'>

In [ ]:
Question 7:
Using the type() function, check and print the data type of the following:
   45.0
  "hello"
  None
  False

In [19]:
print("Type of 45.0:", type(45.0))
print("Type of 'hello':", type("hello"))
print("Type of None:", type(None))
print("Type of False:", type(False))

Type of 45.0: <class 'float'>
Type of 'hello': <class 'str'>
Type of None: <class 'NoneType'>
Type of False: <class 'bool'>

In [ ]:
Question 8:
Write a Python program to print three strings "apple" , "banana" , and "cherry"
on the same line, separated by a space. Then modify the program to
separate the strings using a comma , instead of a space.

In [20]:
print("apple","banana","cherry")

apple banana cherry

In [23]:
print("apple","banana","cherry",sep=", ")

apple, banana, cherry

In [ ]:
Question 9:
Create a variable big_number and assign it a very large integer value (e.g.,
987654321987654321 ). Print the value and its type. What do you notice about
the size of the number?

In [26]:
big_number = 987654321987654321
print("value:", big_number)
print("Type:", type(big_number))

value: 987654321987654321
Type: <class 'int'>

In [ ]:
Question 10:
Write a Python program that prints the result of multiplying two floats (e.g.,
2.5 and 3.7 ). Then check and print the data type of the result.

In [28]:
result = 2.5*3.7
print("Result of multipication:",result)

print("Type of result:", type(result))

Result of multipication: 9.25
Type of result: <class 'float'>